<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>

    <link
      rel="stylesheet"
      href="/public/style.css"
    >
  </head>

  <body>

    <div class="container">

      <h1>File Metadata Microservice</h1>

      <div class="view">

        <form
          action="/api/fileanalyse"
          method="post"
          enctype="multipart/form-data"
        >
          <input id="inputfield" type="file" name="upfile">

          <input
            id="button"
            type="submit"
            value="Upload"
          >
        </form>

      </div>

      <div class="footer">
        <p>
          Built by Sana M.
        </p>
      </div>

    </div>

  </body>
</html>